n8n/yt-playlist-sync.workflow.json
{
  "name": "yt-playlist-sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "playlist-id-assignment",
              "name": "playlistId",
              "value": "PL1cZDZ3bAOmDBKxGGTN1l2xJiN299-QT8",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-playlist-id",
      "name": "Set Playlist ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/feeds/videos.xml?playlist_id={{ $json.playlistId }}",
        "options": {
          "timeout": 30000
        },
        "sendHeaders": false,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "fetch-rss",
      "name": "Fetch Playlist RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "attributeNamePrefix": "@",
          "ignoreAttributes": false
        }
      },
      "id": "xml-to-json",
      "name": "XML to JSON",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Normalize entries to array (single entry is an object, multiple is array)\nconst feed = $input.first().json.feed;\nif (!feed) {\n  return [];\n}\nconst rawEntries = feed.entry;\nconst entries = Array.isArray(rawEntries) ? rawEntries : (rawEntries ? [rawEntries] : []);\n\nreturn entries.map((e) => ({\n  json: {\n    videoId: e['yt:videoId'],\n    title: typeof e.title === 'string' ? e.title : (e.title?.['#text'] || ''),\n    published: e.published,\n    url: `https://youtu.be/${e['yt:videoId']}`,\n  },\n}));"
      },
      "id": "extract-videos",
      "name": "Extract Video List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashboard.autronis.nl/api/yt-knowledge",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "keypair",
        "options": {
          "timeout": 30000
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <DASHBOARD_API_KEY>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "add-to-dashboard",
      "name": "Add to Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-is-pending",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-new-video",
      "name": "Is New Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashboard.autronis.nl/api/yt-knowledge/analyze",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "keypair",
        "options": {
          "timeout": 120000
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <DASHBOARD_API_KEY>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "trigger-analyze",
      "name": "Trigger Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        220
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Daily 08:00": {
      "main": [
        [
          {
            "node": "Set Playlist ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Playlist ID": {
      "main": [
        [
          {
            "node": "Fetch Playlist RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Playlist RSS": {
      "main": [
        [
          {
            "node": "XML to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML to JSON": {
      "main": [
        [
          {
            "node": "Extract Video List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video List": {
      "main": [
        [
          {
            "node": "Add to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Dashboard": {
      "main": [
        [
          {
            "node": "Is New Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Video?": {
      "main": [
        [
          {
            "node": "Trigger Analyze",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Amsterdam",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}