n8n/yt-transcript-proxy.workflow.json
{
  "name": "yt-transcript-proxy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yt-transcript-bXMCL4jSGbVI8IQT3WSkPQ",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "yt-transcript-proxy"
    },
    {
      "parameters": {
        "jsCode": "const axios = require('axios');\nconst body = $input.first().json.body || {};\nconst videoId = body.videoId;\n\nif (!videoId || typeof videoId !== 'string' || !/^[A-Za-z0-9_-]{6,20}$/.test(videoId)) {\n  return [{ json: { ok: false, status: 400, error: 'invalid videoId' } }];\n}\n\nconst YT_UA = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.83 Safari/537.36,gzip(gfe)';\nconst INNERTUBE_URL = 'https://www.youtube.com/youtubei/v1/player?prettyPrint=false';\nconst INNERTUBE_CLIENT_VERSION = '20.10.38';\nconst INNERTUBE_ANDROID_UA = `com.google.android.youtube/${INNERTUBE_CLIENT_VERSION} (Linux; U; Android 14)`;\n\nconst debug = {};\n\nasync function getTracksInnertube() {\n  try {\n    const res = await axios.post(INNERTUBE_URL, {\n      context: { client: { clientName: 'ANDROID', clientVersion: INNERTUBE_CLIENT_VERSION } },\n      videoId,\n    }, {\n      headers: { 'Content-Type': 'application/json', 'User-Agent': INNERTUBE_ANDROID_UA },\n      timeout: 15000,\n      validateStatus: () => true,\n    });\n    debug.innertubeStatus = res.status;\n    if (res.status >= 400) { debug.innertubeErr = 'http ' + res.status; return null; }\n    const data = res.data;\n    debug.playability = (data.playabilityStatus || {}).status;\n    debug.playabilityReason = ((data.playabilityStatus || {}).reason || '').slice(0, 200);\n    const tracks = data && data.captions && data.captions.playerCaptionsTracklistRenderer && data.captions.playerCaptionsTracklistRenderer.captionTracks;\n    debug.tracksFound = Array.isArray(tracks) ? tracks.length : 0;\n    return Array.isArray(tracks) && tracks.length ? tracks : null;\n  } catch (e) { debug.innertubeCatch = String(e).slice(0, 200); return null; }\n}\n\nasync function getTracksWatchPage() {\n  try {\n    const res = await axios.get(`https://www.youtube.com/watch?v=${videoId}`, {\n      headers: { 'User-Agent': YT_UA },\n      timeout: 15000,\n      validateStatus: () => true,\n      responseType: 'text',\n      transformResponse: [x => x],\n    });\n    debug.watchStatus = res.status;\n    if (res.status >= 400) return null;\n    const html = res.data;\n    const marker = 'var ytInitialPlayerResponse = ';\n    const start = html.indexOf(marker);\n    debug.watchMarkerFound = start !== -1;\n    if (start === -1) return null;\n    const jsonStart = start + marker.length;\n    let depth = 0; let end = -1;\n    for (let i = jsonStart; i < html.length; i++) {\n      if (html[i] === '{') depth++;\n      else if (html[i] === '}') { depth--; if (depth === 0) { end = i + 1; break; } }\n    }\n    if (end === -1) return null;\n    const parsed = JSON.parse(html.slice(jsonStart, end));\n    const tracks = parsed && parsed.captions && parsed.captions.playerCaptionsTracklistRenderer && parsed.captions.playerCaptionsTracklistRenderer.captionTracks;\n    debug.watchTracks = Array.isArray(tracks) ? tracks.length : 0;\n    return Array.isArray(tracks) && tracks.length ? tracks : null;\n  } catch (e) { debug.watchCatch = String(e).slice(0, 200); return null; }\n}\n\nfunction decodeEntities(s) {\n  return s\n    .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\")\n    .replace(/&#x([0-9a-fA-F]+);/g, (_, h) => String.fromCodePoint(parseInt(h, 16)))\n    .replace(/&#(\\d+);/g, (_, d) => String.fromCodePoint(parseInt(d, 10)));\n}\n\nasync function fetchCaptionTrack(baseUrl) {\n  const res = await axios.get(baseUrl, {\n    headers: { 'User-Agent': YT_UA },\n    timeout: 15000,\n    validateStatus: () => true,\n    responseType: 'text',\n    transformResponse: [x => x],\n  });\n  if (res.status >= 400) return null;\n  const xml = res.data;\n  const pRegex = /<p\\s+t=\"\\d+\"\\s+d=\"\\d+\"[^>]*>([\\s\\S]*?)<\\/p>/g;\n  const pieces = [];\n  let m;\n  while ((m = pRegex.exec(xml)) !== null) {\n    const inner = m[1];\n    let line = '';\n    const sRegex = /<s[^>]*>([^<]*)<\\/s>/g;\n    let sm;\n    while ((sm = sRegex.exec(inner)) !== null) line += sm[1];\n    if (!line) line = inner.replace(/<[^>]+>/g, '');\n    const t = decodeEntities(line).trim();\n    if (t) pieces.push(t);\n  }\n  if (pieces.length === 0) {\n    const tRegex = /<text[^>]*>([^<]*)<\\/text>/g;\n    while ((m = tRegex.exec(xml)) !== null) {\n      const t = decodeEntities(m[1]).trim();\n      if (t) pieces.push(t);\n    }\n  }\n  return pieces.length ? pieces.join(' ') : null;\n}\n\nconst tracks = (await getTracksInnertube()) || (await getTracksWatchPage());\nif (!tracks || !tracks.length) {\n  return [{ json: { ok: false, status: 404, error: 'no captions', videoId, debug } }];\n}\n\nconst preferred = tracks.find(t => t.languageCode === 'en') || tracks[0];\nif (!preferred || !preferred.baseUrl) {\n  return [{ json: { ok: false, status: 404, error: 'no caption baseUrl', videoId, debug } }];\n}\n\nlet transcript = null;\ntry { transcript = await fetchCaptionTrack(preferred.baseUrl); } catch (e) { debug.captionCatch = String(e).slice(0, 200); transcript = null; }\n\nif (!transcript) {\n  return [{ json: { ok: false, status: 404, error: 'empty transcript', videoId, debug } }];\n}\n\nreturn [{ json: { ok: true, status: 200, videoId, transcript, language: preferred.languageCode || 'unknown' } }];"
      },
      "id": "fetch-transcript",
      "name": "Fetch Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.status || 200 }}"
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Fetch Transcript", "type": "main", "index": 0 }]]
    },
    "Fetch Transcript": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Amsterdam"
  }
}
