n8n/yt-transcript-proxy.workflow.json
{
  "name": "yt-transcript-proxy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yt-transcript-bXMCL4jSGbVI8IQT3WSkPQ",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "yt-transcript-proxy"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst videoId = body.videoId;\n\nif (!videoId || typeof videoId !== 'string' || !/^[A-Za-z0-9_-]{6,20}$/.test(videoId)) {\n  return [{ json: { ok: false, status: 400, error: 'invalid videoId' } }];\n}\n\n// Cookie is deployed inline into the workflow on n8n (not in git).\n// Repo version has <YT_COOKIE> placeholder — real value lives only in n8n encrypted DB.\nconst YT_COOKIE = `<YT_COOKIE>`;\nconst WEB_UA = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36';\nconst ORIGIN = 'https://www.youtube.com';\nconst INNERTUBE_URL = 'https://www.youtube.com/youtubei/v1/player?prettyPrint=false';\n\nconst debug = {};\n\n// Extract SAPISID from cookie string\nfunction getSapisid(cookie) {\n  const m = cookie.match(/(?:^|;\\s*)SAPISID=([^;]+)/);\n  return m ? m[1] : null;\n}\n\nasync function sha1Hex(input) {\n  const buf = await crypto.subtle.digest('SHA-1', new TextEncoder().encode(input));\n  return Array.from(new Uint8Array(buf)).map(b => b.toString(16).padStart(2, '0')).join('');\n}\n\nasync function sapisidHash() {\n  const sapisid = getSapisid(YT_COOKIE);\n  if (!sapisid) return null;\n  const ts = Math.floor(Date.now() / 1000);\n  const hash = await sha1Hex(`${ts} ${sapisid} ${ORIGIN}`);\n  return `SAPISIDHASH ${ts}_${hash}`;\n}\n\nasync function httpReq(opts) {\n  return await this.helpers.httpRequest({\n    ...opts,\n    timeout: 20000,\n    returnFullResponse: true,\n  });\n}\n\nasync function getTracksInnertubeWeb() {\n  try {\n    const auth = await sapisidHash();\n    if (!auth) { debug.authErr = 'no SAPISID in cookie'; return null; }\n    const res = await httpReq.call(this, {\n      method: 'POST',\n      url: INNERTUBE_URL,\n      headers: {\n        'Content-Type': 'application/json',\n        'User-Agent': WEB_UA,\n        'Cookie': YT_COOKIE,\n        'Authorization': auth,\n        'Origin': ORIGIN,\n        'X-Origin': ORIGIN,\n        'X-Youtube-Client-Name': '1',\n        'X-Youtube-Client-Version': '2.20240101.00.00',\n      },\n      body: {\n        context: { client: { clientName: 'WEB', clientVersion: '2.20240101.00.00', hl: 'en', gl: 'US' } },\n        videoId,\n      },\n      json: true,\n    });\n    debug.innertubeStatus = res.statusCode;\n    if (res.statusCode >= 400) { debug.innertubeErr = 'http ' + res.statusCode; return null; }\n    const data = res.body;\n    debug.playability = (data.playabilityStatus || {}).status;\n    debug.playabilityReason = ((data.playabilityStatus || {}).reason || '').slice(0, 200);\n    const tracks = data && data.captions && data.captions.playerCaptionsTracklistRenderer && data.captions.playerCaptionsTracklistRenderer.captionTracks;\n    debug.tracksFound = Array.isArray(tracks) ? tracks.length : 0;\n    return Array.isArray(tracks) && tracks.length ? tracks : null;\n  } catch (e) { debug.innertubeCatch = String(e).slice(0, 300); return null; }\n}\n\nasync function getTracksWatchPage() {\n  try {\n    const res = await httpReq.call(this, {\n      method: 'GET',\n      url: `https://www.youtube.com/watch?v=${videoId}`,\n      headers: { 'User-Agent': WEB_UA, 'Cookie': YT_COOKIE },\n      encoding: 'text',\n    });\n    debug.watchStatus = res.statusCode;\n    if (res.statusCode >= 400) return null;\n    const html = typeof res.body === 'string' ? res.body : String(res.body);\n    const marker = 'var ytInitialPlayerResponse = ';\n    const start = html.indexOf(marker);\n    debug.watchMarkerFound = start !== -1;\n    if (start === -1) return null;\n    const jsonStart = start + marker.length;\n    let depth = 0; let end = -1;\n    for (let i = jsonStart; i < html.length; i++) {\n      if (html[i] === '{') depth++;\n      else if (html[i] === '}') { depth--; if (depth === 0) { end = i + 1; break; } }\n    }\n    if (end === -1) return null;\n    const parsed = JSON.parse(html.slice(jsonStart, end));\n    const tracks = parsed && parsed.captions && parsed.captions.playerCaptionsTracklistRenderer && parsed.captions.playerCaptionsTracklistRenderer.captionTracks;\n    debug.watchTracks = Array.isArray(tracks) ? tracks.length : 0;\n    return Array.isArray(tracks) && tracks.length ? tracks : null;\n  } catch (e) { debug.watchCatch = String(e).slice(0, 300); return null; }\n}\n\nfunction decodeEntities(s) {\n  return s\n    .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\")\n    .replace(/&#x([0-9a-fA-F]+);/g, (_, h) => String.fromCodePoint(parseInt(h, 16)))\n    .replace(/&#(\\d+);/g, (_, d) => String.fromCodePoint(parseInt(d, 10)));\n}\n\nasync function fetchCaptionTrack(baseUrl) {\n  // Ensure fmt is specified — without it YouTube sometimes returns empty.\n  const url = baseUrl.includes('fmt=') ? baseUrl : baseUrl + '&fmt=srv3';\n  const res = await httpReq.call(this, {\n    method: 'GET',\n    url,\n    headers: {\n      'User-Agent': WEB_UA,\n      'Cookie': YT_COOKIE,\n      'Referer': 'https://www.youtube.com/',\n      'Accept': '*/*',\n      'Accept-Language': 'en-US,en;q=0.9',\n    },\n    encoding: 'text',\n  });\n  debug.captionStatus = res.statusCode;\n  if (res.statusCode >= 400) return null;\n  const xml = typeof res.body === 'string' ? res.body : String(res.body);\n  debug.captionXmlLen = xml.length;\n  debug.captionXmlHead = xml.slice(0, 200);\n  const pRegex = /<p\\s+t=\"\\d+\"\\s+d=\"\\d+\"[^>]*>([\\s\\S]*?)<\\/p>/g;\n  const pieces = [];\n  let m;\n  while ((m = pRegex.exec(xml)) !== null) {\n    const inner = m[1];\n    let line = '';\n    const sRegex = /<s[^>]*>([^<]*)<\\/s>/g;\n    let sm;\n    while ((sm = sRegex.exec(inner)) !== null) line += sm[1];\n    if (!line) line = inner.replace(/<[^>]+>/g, '');\n    const t = decodeEntities(line).trim();\n    if (t) pieces.push(t);\n  }\n  if (pieces.length === 0) {\n    const tRegex = /<text[^>]*>([^<]*)<\\/text>/g;\n    while ((m = tRegex.exec(xml)) !== null) {\n      const t = decodeEntities(m[1]).trim();\n      if (t) pieces.push(t);\n    }\n  }\n  return pieces.length ? pieces.join(' ') : null;\n}\n\n// Watch-page first (works with cookies, no crypto needed).\n// Innertube WEB would need SAPISIDHASH which requires SHA-1 — skip since\n// watch page covers everything we need.\nconst tracks = (await getTracksWatchPage.call(this));\nif (!tracks || !tracks.length) {\n  return [{ json: { ok: false, status: 404, error: 'no captions', videoId, debug } }];\n}\n\nconst preferred = tracks.find(t => t.languageCode === 'en') || tracks[0];\nif (!preferred || !preferred.baseUrl) {\n  return [{ json: { ok: false, status: 404, error: 'no caption baseUrl', videoId, debug } }];\n}\n\n// baseUrl from watch page HTML has JSON-escaped chars. Unescape them first.\nconst decodedUrl = preferred.baseUrl\n  .replace(/\\\\u0026/g, '&')\n  .replace(/&amp;/g, '&')\n  .replace(/\\\\\\//g, '/');\ndebug.captionUrl = decodedUrl;\ndebug.captionUrlLen = decodedUrl.length;\n\nlet transcript = null;\ntry { transcript = await fetchCaptionTrack.call(this, decodedUrl); } catch (e) { debug.captionCatch = String(e).slice(0, 300); transcript = null; }\n\nif (!transcript) {\n  return [{ json: { ok: false, status: 404, error: 'empty transcript', videoId, debug } }];\n}\n\nreturn [{ json: { ok: true, status: 200, videoId, transcript, language: preferred.languageCode || 'unknown' } }];"
      },
      "id": "fetch-transcript",
      "name": "Fetch Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.status || 200 }}"
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Fetch Transcript", "type": "main", "index": 0 }]]
    },
    "Fetch Transcript": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Amsterdam"
  }
}
